@mixin desktop() {
    @media (max-width: #{$width-tablet}) and  (min-width: #{$width-desktop}) {
        @content;
    }
}

@mixin tablet() {
    @media screen and (max-width: #{$width-desktop}) and  (min-width: #{$width-mobile}) {
        @content;
    }
}


@mixin mobile() {
    @media screen and (max-width: #{$width-mobile}) {
        @content;
    }
}


@mixin placeholder() {
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $color-placeholder;
      opacity: 1; /* Firefox */
    }
  
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $color-placeholder;
    }
  
    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $color-placeholder;
    }
  }