.about {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;

    .about-box-1 {
        margin-left: 5%;
        flex-basis: 35%;
        background-color: #086aa182;
        z-index: 1;
        padding: 20px;
        text-align: justify;

        font-size: 1.2rem;

        p {
            margin: 3vh 0 3vh 0;
        }
    }

    .about-box-2 {
        flex-basis: 65%;
        display: flex;
        z-index: 1;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .about-bullet {
            width: 70%;
            height: 70%;
            display: flex;

            .about-txt-2 {
                flex-basis: 50%;
                flex-wrap: wrap;
       
            }

            .about-txt-1 {
                flex-basis: 50%;
                flex-wrap: wrap;
           


                .atut {
                    flex-basis: 100%;
                    margin-top: 20px;
                    display: flex;
                    transition: 0.9s;
                    transform: translate(300%, 0);

                    .atut-img {
                        flex-basis: 30%;

                        img {
                            width: 80%;
                        }
                    }

                    .atut-span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-basis: 69%;
                        text-align: center;
                        font-weight: 600;
                        font-size: 1.1rem;
                    }
                }

                .showUp {
                    transform: translate(0, 0);
                }
            }
        }
    }

    .listener {
        background: transparent;
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150vh;
        z-index: 999;
    }

    .about-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: scale(1.1);
        left: 0;
        top: 0;
        background-image: url("../img/19366.jpg");
        background-size: cover;
    }
}