.header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 2;


  &__translation {
    position:absolute;
    top:0;
    right:0;
    z-index: 999;
    margin: 10px 10px 0 0;
    @include mobile(){
      display:none;
    }
    img {
      max-width:20px;
      margin-right:10px;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: url("../img/bg_header.svg");
    background-size: cover;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
  }

  .offer-sign {
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    img {
      width: 100%;
      animation: off 5s linear infinite;
    }
    @include mobile(){
      width:280px;
    }
  }
}

.down-button {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 150px;
  height: 80px;
  background-image: url("../img/down_white.svg");
  background-size: 100%;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  z-index: 1;

  img {
    width: 100%;
  }
}

.nav {
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  color: white;
  transition: 2s;
  z-index: 2;
  letter-spacing: 1px;
  background: none !important;
  box-shadow: none !important;

  .logo {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    @include mobile() {
      top: 0;
      left: 0;
      padding: 0 10px;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      position: fixed;
      transform: translateX(0);
      display: flex;
      justify-content: space-between;
    }
    img {
      width: 450px;
      @include mobile() {
        width: 90px;
      }
    }
  }

  .menu {
    font-family: "Didact Gothic", sans-serif;
    text-align: left;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    @include mobile() {
      display: none;
    }

    &-list {
      list-style: none;
      display: flex;
    }

    li {
      float: left; /// tego już nie używamy :)
      background-image: none;
      padding: 0px 10px 0px 10px;
      cursor: pointer;
      line-height: 10px;
      font-size: 12px;
      margin: 2px;
      overflow: hidden;

      a {
        padding: 0;
        font-size: 12px;
        color: white;
      }

      &:after {
        content: "";
        display: block;
        transition: 0.7s;
        height: 2px;
        background-color: #008dd2;
        transform: translateX(-150%);
        margin-top: 2px;
      }

      &:hover:after {
        transition: 0.7s;
        transform: translateX(0%);
      }
    }
  }
  .languages {
    @include mobile() {
      display: none;
    }
  }


  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }

    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }

    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }

    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }

    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }

    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }

    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }

    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }

    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }

    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }

    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
}
