.team {
    width: 100%;
    min-height: 40vh;
    background: #004a6e;
    background: linear-gradient(90deg, #004a6e 0%, #004a6e 35%, #008dd2 100%);

    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    justify-content: center;
    @include mobile() {
        padding: 0;
    }

    h4 {
        flex-basis: 100%;
        text-align: center;
        color: white;
    }

    .team-container {
        display: flex;
        width: 50%;
        justify-content: space-between;
        color: white;
        text-align: center;
        flex-wrap: wrap;
        @include mobile() {
            width:80%;
        }

        .team-img {
            flex-basis: 100%;
            justify-content: left;
            padding: 35px 0 35px;

        }



        .member {
            flex-basis: 30%;
            @include mobile() {
                flex-basis: auto;
            }

        }

        .name-style {
            font-size: 1.5rem;
            padding: 2px;
            background-color: #0279b4;
            border-radius: 10px;

        }

        .describe-style {
            background-color: #0279b4;

            border-radius: 10px;
            padding: 10px;
            margin-top: 25px;
            text-align: left;
        }

    }





}